body{
    background-color: #1A1C28;
    min-height: 100vh;
}
.Bod{
    display: grid;
    place-items: center;
    min-height: 100vh;
    
}
#container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    max-width: 800px;
    gap: 1em;
    margin: auto;

}
.Bod > div{
        padding: 2em 4em;
        width: 700px;
        height: 70vh;
        margin: 5rem auto;
}
.Box1{
    background-color: #EB5020;
    grid-area: 1/1/span 2 /8;
   
}

.Box2{
    background-color: #FFA401;
    grid-area: 1/8/ span 2/12;
   
}

.Box3{
    background-color: #05AA42;
    grid-area: 3/1/span 2/ 6;
}

.Box4{
    background-color: #01AEFD;
    grid-area: 3/6/span 1 / 12;
}

.Box5{
    background-color: #01AEFD;
    grid-area: 4/6/span 1 / 12;
  height: 20vh;
    
}
