html, body {
  height: 100%;
  width: 100%;
}
body{
     font-family: 'Lexend Deca', sans-serif;
    text-transform: capitalize;
    font-size: 15px;
  justify-content: center;
  align-items: flex-start;
   
}

.Main > div {
   flex: 1;
   width: 10%;
   padding: 5%;
   flex-direction: column;
  justify-content: center;
  align-items: flex-start;
   
}
.Main{
    display: flex;
    justify-content: space-around;
   margin: 0 auto;
  width: 70%;
  max-width: 80rem;
  height: 80vh;
    
}
.Sedans{
    border: 30px;
    
   background-color: hsl(31, 77%, 52%);
}
#Suvs{
    background-color: hsl(184, 100%, 22%);
}
#luxury{
    background-color: hsl(179, 100%, 13%);
}
p{
   color: hsla(0, 0%, 100%, 0.75);
  margin-top: 20px;
  margin-bottom: 140px;
    font-size: 17px;
 }

.btn{
    text-align: center;
    margin: 0 auto;
    width: 70%;
}
h2{
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 10px;
  margin-top: 30px;
  text-transform: uppercase;
    
}
.btn {
  width: auto;
  height: auto;
  background-color: hsl(0, 0%, 95%);
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  border-radius: 20px;
  border: none;
}

 .btn:focus, .btn:hover {
  background-color: transparent;
  border: 2px solid  hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
}
