body {
      background-image: url("dave.jpg");
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   margin: 0;
     padding: 70px 0px 70px;
}
.regbox {
     width: 360px;
     height: 708px;
     margin: auto;
     border-radius: 3px;
}

.logbox {
    width: 360px;
    height: 280px;
    margin: auto;
    border-radius: 3px;
  
}

h1 {
    text-align: center;
    padding-top: 15px;
}
h4 {
    text-align: center;
}
form {
    width: 300px;
    margin-left: 20px;
}

form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

input[type=button] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    background-color: #61706c;
    color: white;
    font-size: 18px;
}

input[type=button]:hover {
    opacity: 0.8;
}

button {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    background-color: #4999c1;
    color: white;
    font-size: 18px;
}

button:hover {
    opacity: 0.8;
  }

p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}

.para2 {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
}

.para2 a {
    color: rgb(252, 252, 252);
}
